body {
    background: rgb(178, 178, 196);
}

h1.blink {
    animation: myfirst 3s linear 2s infinite alternate;
    font-size: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

@keyframes myfirst {
    25% {opacity: 1; } 
    50% {opacity: 0.35; } 
    75% {opacity: 1; }
}

body h2 {
    width: 100px;
    height: 100px;
    text-align: center;
    color: red;
    font-size: 35px;
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  @keyframes example {
    0%   {color:red; left: 0; top: 0;}
    25%  {color:yellow; left: 90%; top: 0;}
    50%  {color:blue; left: 90%; top: 200px;}
    75%  {color:green; left: 0; top: 200px;}
    100% {color:red; left: 0; top: 0;}
  }